:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
.body {
  background-color: var(--#FFFFFF);
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.list {
  list-style: none;
}
/*? Header section  */
/* !Logo */
.logo-left {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-right {
  color: #2e2f42;
}
/* !Menu-nav */
.menu-nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  list-style: none;
  text-decoration: none;
}
.address:hover,
.address:focus {
  color: #404bbf;
}


/* ?Hero section */
.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.hero-button:is(:hover, :focus) {
  color: #FFFFFF;
  background-color: var(--color-ocean, #404BBF);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
/* ?About section  */
.subtitle-about {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #2e2f42;
}

.benefits-subtitle {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

/* ?Team section  */
.team {
  background-color: #F4F4FD
}
.team-subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
}
.team-item {
background-color: #FFFFFF;
}
.subtitle-name {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
text-transform: capitalize;
}
.profession-text {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  text-align: center;
}

/* ?Footer */
.footer {
  background-color: #2e2f42;
  text-transform: uppercase;
}

.footer {
  font-family: "Raleway", sans-serif;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-logo-right {
  color: #f4f4fd;
}
/* !Portfolio */
/* ?Menu filter button */
.filter-button:is(:hover, :focus) {
color: #FFFFFF;
background-color: var(--color-ocean, #404BBF);
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(-- #f4f4fd);
  text-decoration: none
  cursor: pointer;
}

.subtitle-second {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none
}
.project-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none
}
